.displayCanvas {
    cursor: none;
    left: 0px;
    top: 0px;
}

#displayCanvas {
    position: relative;
    z-index: 0;
}

#cursorCanvas {
    position: absolute;
    z-index: 1;
}

#prompt {
    display: inline;
}

#ribbon {
    height: 100px;
}

.ribbon {
    display: none;
    height: 100%;
}
