html {
    height: calc(100% - 20px);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#ribbon-pane {
}

#output-pane {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

#bottom-pane {
}

.displayCanvas {
    cursor: none;
    flex: 1;
}

#cursorCanvas {
    position: absolute;
    z-index: 1;
}

#prompt {
    display: inline;
}

#ribbon {
    height: 100px;
}

.ribbon {
    display: none;
    height: 100%;
}

.ribbon-active {
    display: block;
}

.ribbon-selector {
    background: lightgray;
}

.ribbon-selector-active {
    background: white;
}

.ribbon-button-group {
    border: solid 1px lightgray;
    display: inline-block;
    height: 100%;
    padding: 2px;
}

.ribbon-button-group-content {
    height: 72px;
}

.ribbon-button-group-name {
    text-align: center;
}

.command-button {
    height: 72px;
    width: 72px;
}

.command-button-small {
    height: 24px;
    text-align: left;
    width: 84px;
}

.command-button-center {
    text-align: center;
}

.icon-large {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.icon-small {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#current-layer-selector {
    vertical-align: top;
    width: 150px;
}
