html {
    height: calc(100% - 20px);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#ribbon-pane {
}

#output-pane {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

#bottom-pane {
}

.displayCanvas {
    cursor: none;
    flex: 1;
}

#cursorCanvas {
    position: absolute;
    z-index: 1;
}

#prompt {
    display: inline;
}

#ribbon {
    height: 100px;
}

.ribbon {
    display: none;
    height: 100%;
}

.ribbon-button-group {
    border: solid 1px lightgray;
    display: inline-block;
    height: 100%;
    margin: 2px;
    padding: 2px;
}

.ribbon-button-group-buttons {
}

.ribbon-button-group-name {
    margin: 2px;
    text-align: center;
}
