[submodule "IxMilia.Step"]
	path = src/IxMilia.Step
	url = https://github.com/IxMilia/Step
[submodule "IxMilia.Iges"]
	path = src/IxMilia.Iges
	url = https://github.com/IxMilia/Iges
[submodule "IxMilia.Config"]
	path = src/IxMilia.Config
	url = https://github.com/IxMilia/Config
