# ignore VS
*.suo
*.sln.ide/
artifacts/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
*.Tests.mdf
*.Tests_log.ldf
*.ide
AppPackages/
**/packages
*.user
**/.vs
*project.lock.json
NuGet.exe

# flatpak-builder local build cache/working directory
.flatpak-builder/

# .NET SDK file-based app ("run file") discovery cache
/dotnet/
