<?xml version="1.0" encoding="utf-8" ?>
<SettingsManager>
  <LayerDialogId>Default</LayerDialogId>
  <ViewControlId>Default</ViewControlId>
  <ConsoleControlId>Default</ConsoleControlId>
  <SnapPointDistance>15</SnapPointDistance>
  <SnapPointSize>15</SnapPointSize>
  <AngleSnap>true</AngleSnap>
  <PointSnap>true</PointSnap>
  <Ortho>false</Ortho>
  <SnapAngleDistance>30</SnapAngleDistance>
  <SnapAngles>
    <double>0</double>
    <double>90</double>
    <double>180</double>
    <double>270</double>
  </SnapAngles>
  <AngleSnapShortcut>
    <Modifier>None</Modifier>
    <Key>F7</Key>
  </AngleSnapShortcut>
  <PointSnapShortcut>
    <Modifier>None</Modifier>
    <Key>F3</Key>
  </PointSnapShortcut>
  <OrthoShortcut>
    <Modifier>None</Modifier>
    <Key>F8</Key>
  </OrthoShortcut>
</SettingsManager>
