<?xml version="1.0" encoding="utf-8" ?>
<SettingsManager>
  <RibbonOrder>home;drawing-settings;debug</RibbonOrder>
  <LayerDialogId>Default</LayerDialogId>
  <PlotDialogId>Default</PlotDialogId>
  <RendererId>SharpDX</RendererId>
  <ConsoleControlId>Default</ConsoleControlId>
  <SnapPointDistance>15</SnapPointDistance>
  <SnapPointSize>15</SnapPointSize>
  <EntitySelectionRadius>3</EntitySelectionRadius>
  <CursorSize>60</CursorSize>
  <TextCursorSize>18</TextCursorSize>
  <AngleSnap>true</AngleSnap>
  <PointSnap>true</PointSnap>
  <Ortho>false</Ortho>
  <Debug>false</Debug>
  <SnapAngleDistance>30</SnapAngleDistance>
  <SnapAngles>0;90;180;270</SnapAngles>
  <AngleSnapShortcut Modifier="None" Key="F7" />
  <PointSnapShortcut Modifier="None" Key="F3" />
  <OrthoShortcut Modifier="None" Key="F8" />
  <DebugShortcut Modifier="None" Key="F12" />
  <BackgroundColor>#2F2F2F</BackgroundColor>
  <SnapPointColor>#FFFF00</SnapPointColor>
</SettingsManager>
