<?xml version="1.0" encoding="utf-8" ?>
<SettingsManager>
  <LayerDialogId>Default</LayerDialogId>
  <ViewControlId>SlimDX</ViewControlId>
  <ConsoleControlId>Default</ConsoleControlId>
  <SnapPointDistance>15</SnapPointDistance>
  <SnapPointSize>15</SnapPointSize>
  <ObjectSelectionRadius>3</ObjectSelectionRadius>
  <AngleSnap>true</AngleSnap>
  <PointSnap>true</PointSnap>
  <Ortho>false</Ortho>
  <SnapAngleDistance>30</SnapAngleDistance>
  <SnapAngles>0;90;180;270</SnapAngles>
  <AngleSnapShortcut Modifier="None" Key="F7" />
  <PointSnapShortcut Modifier="None" Key="F3" />
  <OrthoShortcut Modifier="None" Key="F8" />
  <BackgroundColor>#2F2F2F</BackgroundColor>
  <SnapPointColor>#FFFF00</SnapPointColor>
</SettingsManager>
