:root {
    --surface: white;
}

.window, .window-body, .title-bar, .title-bar-text, .title-bar-controls {
    background: var(--surface);
}

.title-bar-controls button[aria-label="Close"] {
    height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
}
