:root {
    --plot-preview-size: 600px;
}

html {
    height: calc(100% - 20px);
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#output-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
}

#script-pane {
    display: none;
    height: 100%;
    width: 400px;
}

#output-pane {
    background-color: black;
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

#script-content {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

#property-pane {
    display: none;
    flex: none;
    position: absolute;
    right: 0px;
    text-align: right;
    z-index: 10;
}

.property-pane-setting-name {
    text-align: right;
}

.displayCanvas {
    cursor: none;
    flex: 1;
}

.twoDCanvas {
    position: absolute;
}

#imageCanvas {
    z-index: 1;
}

#rubberBandImageCanvas {
    z-index: 2;
}

#drawingCanvas,
#flatCanvas,
#rubberBandFlatCanvas {
    z-index: 3;
}

#selectionCanvas {
    z-index: 4;
}

#textCanvas {
    z-index: 5;
}

#rubberBandTextCanvas {
    z-index: 6;
}

#cursorCanvas {
    z-index: 7;
}

#prompt {
    display: inline;
}

#ribbon {
    border-bottom: 1px gray;
    height: 100px;
}

.ribbon-unpinned-show {
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 10;
}

.ribbon-unpinned-hide {
    display: none;
}

.ribbon {
    display: none;
    height: 100%;
}

.ribbon-active {
    display: block;
}

.ribbon-selector {
    background: lightgray;
}

.ribbon-selector-active {
    background: white;
}

.ribbon-button-group {
    border: solid 1px lightgray;
    display: inline-block;
    height: 100%;
    padding: 2px;
}

.ribbon-button-group-content {
    height: 72px;
}

.ribbon-button-group-name {
    text-align: center;
}

.command-button {
    height: 72px;
    width: 72px;
}

.command-button-small {
    height: 24px;
    text-align: left;
    width: 84px;
    position: relative;
}

.command-button-tiny {
    height: 24px;
    width: 36px;
}

.command-button-center {
    text-align: center;
}

.command-button-small-label {
    margin: 0 auto;
    position: absolute;
    left: 32px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-grid-item {
    padding: 0px;
}

.icon-large {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.icon-small {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.settings-button {
    display: inline-block;
}

#current-layer-selector {
    vertical-align: top;
    width: 150px;
}

.debug-transform-value {
    border: 1px solid black;
    line-height: 12px;
    overflow: hidden;
    width: 80px;
}

/* blocks out the entire application */
#modal-dialog-mask {
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* parent container for all dialogs; contains OK/Cancel buttons */
#modal-dialog-container {
    display: none;
    position: absolute;
}

/* individual dialog parent */
.modal-dialog {
    display: none;
    position: relative;
}

/* layer dialog */
.layer-dialog {
    width: 600px;
    height: 400px;
}

/* name */
.dialog-layer-column-1 {
    display: inline-block;
    width: 150px;
}

/* color */
.dialog-layer-column-2 {
    display: inline-block;
    margin-left: 16px;
    width: 80px;
}

/* is visible */
.dialog-layer-column-3 {
    display: inline-block;
    width: 64px;
}

/* line type name */
.dialog-layer-column-4 {
    display: inline-block;
    width: 80px;
}

/* line type scale */
.dialog-layer-column-5 {
    display: inline-block;
    width: 64px;
}

/* delete button */
.dialog-layer-column-6 {
    display: inline-block;
    width: 75px;
}

.dialog-layer-list {
    height: 300px;
    overflow-y: scroll;
}

.dialog-layer-row {
    height: 32px;
}

/* line type dialog */
.line-type-dialog {
    width: 600px;
    height: 400px;
}

.dialog-line-type-name-column {
    display: inline-block;
    width: 150px;
}

.dialog-line-type-list-line-type-name {
    width: 100%;
}

.dialog-line-type-pattern-column {
    display: inline-block;
    width: 150px;
}

.dialog-line-type-list-line-type-pattern {
    width: 100%;
}

.dialog-line-type-description-column {
    display: inline-block;
    width: 200px;
}

.dialog-line-type-list-line-type-description {
    width: 100%;
}

.dialog-line-type-command-column {
    display: inline-block;
    width: 75px;
}

.dialog-line-type-list {
    height: 300px;
    overflow-y: scroll;
}

.dialog-line-type-row {
    height: 32px;
}

/* file settings dialog */
.file-settings-dialog {
    width: 200px;
    height: 100px;
}

/* plot dialog */
#dialog-plot-background {
    background-color: gray;
    border: 1px solid black;
    width: var(--plot-preview-size);
    height: var(--plot-preview-size);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#dialog-plot-display {
    background-color: white;
    outline: 1px solid black;
    max-width: var(--plot-preview-size);
    max-height: var(--plot-preview-size);
}

.dialog-plot-scale-value>input[id="dialog-plot-scaling-type-fit"]:checked {
    color: gray;
}