.vscode/**
.vscode-test/**
node_modules/**
out/node_modules/**
out/src/**
src/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.gitignore
local-sentinel.txt
update-proposed-api.ps1
